body {
    margin: 0;
    margin-top: 4px;
    font-family: 'Lato', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1566073771259-6a8506099945?q=80&w=500');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;    
}
body::before {
    content: "";
    position: fixed;         
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.45);
    z-index: -1;            
}

.about-section {
    max-width: 1000px;
    margin: 4px auto;
    padding: 50px;
    background: #fff;      
    border-radius: 16px;
    line-height: 1.8;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


 .about-section h1 {
     text-align: center;
     font-size: 42px;
     margin-bottom: 20px;
     color: #080a1e;
     text-transform: uppercase;
     letter-spacing: 2px;
 }

 .about-section p {
     font-size: 18px;
     margin-bottom: 20px;
 }

 .highlight {
     color: #0a105c;
     font-weight: 700;
 }

 .cta-button {
     display: block;
     width: 220px;
     margin: 30px auto 0 auto;
     padding: 15px 0;
     text-align: center;
     background: linear-gradient(135deg, #010223, #0a105c);
     color: #fff;
     font-size: 18px;
     border-radius: 10px;
     text-decoration: none;
     box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
     transition: 0.3s;
 }

 .cta-button:hover {
     background: #fff;
     color: #0a105c;
     transform: translateY(-2px);
     box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
 }

 @media (max-width: 768px) {
     .about-section {
         padding: 30px 20px;
     }

     .about-section h1 {
         font-size: 32px;
     }

     .about-section p {
         font-size: 16px;
     }
 }